@import "tailwindcss";
@import "@template/ui/globals.css";

@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@source "../**/*.{js,ts,jsx,tsx}";

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
